# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# PyInstaller
build/
dist/
*.spec

# Inno Setup
Output/
*.exe

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
scr/__pycache__/
*.pyc
